
@{
    ViewData["Title"] = "Display";
}

<style>
    .hud {
        height: 200px;
        width: 400px;
        position: absolute;
        bottom: 650px;
        left: 250px;
        font-size: 18px;
        background-color: rgb(255, 255, 255, 0.5);
        opacity: 0.9;
    }
</style>
<div class="container" style="background-image: url('../images/driving.png'); height: 1024px;">

    <div class="hud">
        <p> This is the heads up display</p>
    </div>

</div>
