@model Dashboard
@{
    ViewData["Title"] = "Home Page";
}

<style>
    button{
        width:100%;
    }
</style>

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome To CMU Designathon</h1>
    </div>
    <form asp-controller="Home" asp-action="DashboardClicked" method="post">
        <div class="row">
            <div class="col-sm-6" style="padding-top:25px;">
                <input style="width:100%" autofocus placeholder="Enter Text" asp-for="Message">
                <button name="phone" value="tweet" type="submit">New Tweet</button>
                <button name="phone" value="sms" type="submit">New Text Message</button>
            </div>
            <div class="col-sm-3" style="padding-top:25px;">
                <button name="car" value="leftcarin" type="submit">Car in Left Lane</button>
                <button name="car" value="leftcarempty" type="submit">Car NOT in Left Lane</button>
            </div>
            <div class="col-sm-3" style="padding-top:25px;">
                <button name="car" value="rightcarin" type="submit">Car in Right Lane</button>
                <button name="car" value="rightcarempty" type="submit">Car NOT in Right Lane</button>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="col-sm-3" style="padding-top:25px;">
                <button name="car" value="lowfuelon" type="submit">Low Fuel Light</button>
                <button name="car" value="lowfueloff" type="submit">Turn off Fuel Light</button>
            </div>
            <div class="col-sm-3" style="padding-top:25px;">
                <button name="car" value="engineon" type="submit">Check Engine Light</button>
                <button name="car" value="engineoff" type="submit">Turn off Check Engine Light</button>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6" style="padding-top:50px;">
                <button name="clear" value="clear" type="submit">Clear Notifications</button>
            </div>
        </div>
    </form>
</div>

