@model Dashboard 
@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome To CMU Designathon</h1>
    </div>
    <form asp-controller="Home" asp-action="DashboardClicked" method="post">
        <div class="row">
            <div class="col-3">
                <button name="car" value="leftcarin" type="submit">Car in Left Lane</button>
                <button name="car" value="leftcarempty" type="submit">Car NOT in Left Lane</button>
            </div>
            <div class="col-3">
                <button name="car" value="rightcarin" type="submit">Car in Right Lane</button>
                <button name="car" value="rightcarempty" type="submit">Car NOT in Right Lane</button>
            </div>
            <div class="col-6">
                <input autofocus placeholder="Enter Text" asp-for="Message">
                <button name="phone" value="tweet" type="submit">New Tweet</button>
                <button name="phone" value="sms" type="submit">New Text Message</button>
            </div>
        </div>
    </form>
</div>

